
.form-inner.container {
  flex-direction: column;
}
.field {
  max-width: 200px;
  width: 100%;
}
.form-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--light-beige);
  background-color: var(--very-dark-blue);
  gap: 1rem;
  font-size: 3rem;
  min-height:200px ;
  height: fit-content;
  padding: 2rem;
  width: 100%;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: .3s ease-in;

}
.subject-icon{
  width: 50%;
}
.form-label.active{
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border-color: var(--very-light-blue);
    transition: .3s ease-in;
    color: var(--light-beige);
}
input[type="radio"] {
  appearance: none;
}

.submit-btn {
  background-color: var(--light-beige);
  max-width: 150px;
  width: 100%;
  margin-top: 8rem;
  border-radius: 1.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--light-blue);
  align-self: flex-end;

}
